[D-BUS Service]
Name=de.kmux.scanbd.server
SystemdService=dbus-de.kmux.scanbd.server.service

# This service should not be bus activated if systemd isn't running,
# so that activation won't conflict with the init script startup.
Exec=/bin/false
